*_Plist.Dir*
*.udf
.idea
*/.idea

.idea/misc.xml
.idea/mjclient.iml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
ccclient/res/loading.js
ccclient/cocos2d-html5
/ccclient/res/test.cfg
.project
ccclient/test.cfg
ccclient/update/*
ccclient/update.log
.DS_Store
android/.DS_Store
ccclient/js/majiang_test.js
ccclient/src/majiang_test.jsc
ccclient/cocosstudio/WebView_0.csd
ccclient/res/WebView_0.json
ccclient/res/channel.json
ccclient/js/testCards.js
ccclient/js/testCards.jsc
ccclient/js/test.js
ccclient/js/test.jsc
ccclient/res/123test.cfg
ccclient/link_html5.cmd
ccclient/res/location.txt
ccclient/res/appVersion.cfg
ccclient/res/appChannel.cfg
